Django==3.0.7
Flask	==1.1.1
Flask-Email==	1.4.4
Flask-Mail	==0.9.1
Flask-SQLAlchemy==	2.4.1
Jinja2	==2.11.1
MarkupSafe==	1.1.1
Pillow	==7.1.2
SQLAlchemy==	1.3.15
Werkzeug	==1.0.0
XlsxWriter	==1.3.6
asgiref	==3.2.7
astroid	==2.4.1
beautifulsoup4==	4.9.1
blinker	==1.4
bs4	==0.0.1
certifi	==2020.4.5.1
chardet	==3.0.4
click	==7.1.1
colorama==	0.4.3
cycler	==0.10.0
et-xmlfile==	1.0.1
future	==0.18.2
idna	==2.9
isort	==4.3.21
itsdangerous==	1.1.0
jdcal	==1.4.1
kiwisolver	==1.2.0
lazy-object-proxy==	1.4.3
matplotlib	==3.2.1
mccabe	==0.6.1
mysqlclient	==1.4.6
numexpr	==2.7.1
numpy	==1.18.5
openpyexcel==	2.5.14
openpyxl	==3.0.5
pandas==	1.0.4
pandastable==	0.12.2.post1
pip	==20.2.3
pygame	==1.9.6
pylint	==2.5.2
pyparsing	==2.4.7
python-dateutil==	2.8.1
pytz	==2020.1
requests==	2.23.0
setuptools==	40.8.0
six		==1.15.0
soupsieve	==2.0.1
sqlparse	==0.3.1
toml==	0.10.1
typed-ast==	1.4.1
urllib3	==1.25.9